-# This file is app/views/semesters/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      PTA Instructors List
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    = render :partial => "partial/topbar"
    %div#container
      = render :partial => "partial/semester_error"
      %h1
        PTA Instructors in this Semester
      %div
