.vspace20
.navbar
  .navbar-inner
    %a.brand{:href=>"#{semesters_path}"}
      ="PTA Scheduler"
    %ul.nav
      %li#navbar-new-session
        %a{:href=>"#{new_semester_path}"} Create New Session

.vspace40
