.module
  .module-heading
    .module-heading-title Enrolled Students
    .module-heading-action= link_to 'Details', course_path(course, :full => 'true')
  
  .module-content
    %table.data-table.full-width.print-bigger
      %tbody
        - if course.enrollments.enrolled.any?
          - students = course.enrollments.enrolled.all.map {|enrollment| enrollment.student}
          - students.each_with_index do |student, index|
            %tr{:class => (index >= course.class_max) ? "warning" : ""}
              %td
                = index + 1
              %td
                = link_to student.full_name, student_path(student)
        - if course.class_max && students.length < course.class_max
          - (students.length+1..course.class_max).each do |index|
            %tr
              %td
                = index
              %td
