.clear
  clear: both

#container
  width: 940px
  margin: 0 auto

$section-width: 700px

.section
  width: $section-width
  margin: 10px auto

.align-right
  text-align: right

.hero-unit
  p
    padding-top: 10px
  .btn
    margin-right: 6px

.bar-dates
  text-align: right
  span
    margin-left: 10px
